{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/../game.css' %}">
    <title>Chess Board</title>
  </head>
  <body>
    <div id="board"></div>
    supwrld
    <script>
      const board = document.getElementById("board");

      board.addEventListener('click', (e) => {
        console.log('succes')
        fetch("/game/get_moves?row=1&col=1")
        .then(response => response.json())
        .then(data => {
          console.log("Получено с бэкенда:", data.moves);
        })
      })

      // Загружаем состояние доски с бэкенда
      fetch("/game/get_board")
        .then(response => response.json())
        .then(data => {
          console.log("Получено с бэкенда:", data.board);
          renderBoard(data.board);
        })
        .catch(error => console.error("Ошибка при загрузке:", error));

      // Функция рендера доски
      function renderBoard(boardData) {
        const fragment = document.createDocumentFragment();

        for (let row = 0; row < 8; row++) {
          for (let col = 0; col < 8; col++) {
            const cell = document.createElement("div");
            cell.classList.add("cell");

            // Если у тебя в data.board[row][col] лежит фигура — покажем её
            const piece = boardData[row][col];
            cell.textContent = piece ? piece : "";

            // Раскраска под шахматную доску
            if ((row + col) % 2 === 0) {
              cell.classList.add("light");
            } else {
              cell.classList.add("dark");
            }

            fragment.appendChild(cell);
          }
        }

        // Добавляем всё в #board
        board.appendChild(fragment);
      }



    </script>
  </body>
</html>