{% load static %}

<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}" />
    <title>Chess Board</title>
  </head>
  <body>
    <div id="promotion-dialog" style="display: none; justify-content: center">
      <button
        class="promotion-button"
        data-piece="q"
        style="background-color: rgba(0, 38, 255, 0.473)"
      >
        ♕
      </button>
      <button
        class="promotion-button"
        data-piece="r"
        style="background-color: rgba(43, 255, 0, 0.473)"
      >
        ♖
      </button>
      <button
        class="promotion-button"
        data-piece="b"
        style="background-color: rgba(195, 255, 0, 0.473)"
      >
        ♗
      </button>
      <button
        class="promotion-button"
        data-piece="n"
        style="background-color: rgba(255, 0, 0, 0.473)"
      >
        ♘
      </button>
    </div>
    <div id="board"></div>
    chess
    <script>
      localStorage.setItem("game_id", "{{game_id}}");
      localStorage.setItem("color", "{{color}}");
      localStorage.setItem("move_id", "{{last_move_id}}");

      // vot eto mi uberem
      
    </script>
    <script src="{% static 'js/game.js' %}"></script>
  </body>
</html>
